canvas {
    border: 1px solid black;
    width: 10000px;
    height: 10000px;
  }


#circularc {
  pointer-events: none;
  visibility: hidden;
  background-color: white;
  border:1px solid black;    
  height:20px;
  width:20px;
  border-radius:50%;
  position: absolute;
  z-index: 1;
  }